<div class="container">
    <h2>Add New Course</h2>
   <form  [formGroup]="newCourse" (submit)="createCourse()">
    <div class="row">
        <div class="col-lg-6">
            <label >Title</label>
            <input type="text" class="form-control" formControlName ="title" [ngStyle] = "{border : newCourse.get('title')?.dirty && !newCourse.get('title')?.valid? '1px solid red' : ''}"/>
            <span style="color : red;" *ngIf = "newCourse.get('title')?.dirty && !newCourse.get('title')?.valid">Please enter valid title</span>
        </div>
        <div class="col-lg-6">
            <label>Image</label>
            <input class="form-control" formControlName="image"/>
        </div>
       <!--  <div class="col-lg-6">
            <label>Image</label>
            <input type="file" class="form-control" formControlName="image" (change)="onFileChange($event)">
            <span style="color : red;" *ngIf="newCourse.get('image')?.dirty && newCourse.get('image')?.errors?.['required']">Please upload an image</span>
            </div> -->
        <div class="col-lg-6">
            <label>InstructorName</label>
            <input class="form-control" formControlName="instructorName"/>
        </div>
        <div class="col-lg-6">
            <label>Heading</label>
            <input class="form-control" formControlName="heading"/>
        </div>
        <div class="col-lg-6">
            <label>Description</label>
            <input class="form-control" formControlName="description"/>
        </div>
        <div class="col-lg-6">
            <label>Video</label>
            <input class="form-control" formControlName="video"/>
        </div>
    </div>
    <div class="col-lg-12">
        <input type="submit" [disabled]="!newCourse.valid" class="btn btn-primary mt-2">
    </div>
   <form>
