button {
    background-color: rgb(167,53,240);
    color: #ffffff;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    margin-left : 7vw;
    margin-top: 2vw;
  }

  .box {
    background-color: #ffffff;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left : 4vw;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin : 3vw;
    border : 0.1px solid rgb(214, 213, 213);
  }
  
  .quiz-name {
    font-size: 2vw;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
  }
  

  button {
    background-color: rgb(167,53,240);
    color: #ffffff;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    border: none;
  }
  
  a {
    text-decoration: none;
    color: #ffffff;
  }
  
  button:hover {
    background-color: #740074;
    color: rgb(167,53,240);
    cursor: pointer;
  }

 