<footer class="ud-footer" data-purpose="footer">
    <div class="footer-section footer-section-main">
        <div class="links-and-language-selector">
            <div class="language-selector-container"><!-- <button type="button"
                    class="ud-btn ud-btn-medium ud-btn-secondary ud-text-md language-selector-button-module--button--RSREU"
                    data-testid="language-selector-button"><svg aria-hidden="true" focusable="false"
                        class="ud-icon ud-icon-small ud-icon-color-neutral">
                        <use xlink:href="#icon-language"></use>
                    </svg><span>English</span></button> --> <h3 style = "color : white; margin-left : 2vw;">Course Management</h3> 
                </div>
            <ul class="ud-unstyled-list link-column">
                <li><a href="/udemy-business/?locale=en_US&amp;mx_pg=home-page&amp;path=%2F&amp;ref=footer"
                        class="link white-link ud-text-sm" target="_blank" rel="noopener">Udemy Business</a></li>
                <li><a class="link white-link ud-text-sm" href="/teaching/?ref=teach_footer">Teach on Udemy</a></li>
                <li><a class="link white-link ud-text-sm" href="/mobile/" target="_blank" rel="noopener noreferrer">Get
                        the app</a></li>
                <li><a class="link white-link ud-text-sm" href="https://about.udemy.com/?locale=en-us">About us</a></li>
                <li><a class="link white-link ud-text-sm"
                        href="https://about.udemy.com/company?locale=en-us#offices">Contact us</a></li>
            </ul>
            <ul class="ud-unstyled-list link-column">
                <li><a class="link white-link ud-text-sm"
                        href="https://about.udemy.com/careers?locale=en-us">Careers</a></li>
                <li><a class="link white-link ud-text-sm" href="https://blog.udemy.com/?ref=footer">Blog</a></li>
                <li><a class="link white-link ud-text-sm" href="/support/">Help and Support</a></li>
                <li><a class="link white-link ud-text-sm" href="/affiliate/">Affiliate</a></li>
                <li><a class="link white-link ud-text-sm" href="https://investors.udemy.com">Investors</a></li>
            </ul>
            <ul class="ud-unstyled-list link-column">
                <li><a class="link white-link ud-text-sm" href="/terms/">Terms</a></li>
                <li><a class="link white-link ud-text-sm" href="/terms/privacy/">Privacy policy</a></li>
                <li><a class="link white-link ud-text-sm" href="/terms/privacy/">Cookies settings</a></li>
                <li><a class="link white-link ud-text-sm" href="/sitemap/">Sitemap</a></li>
                <li><a class="link white-link ud-text-sm"
                        href="https://about.udemy.com/accessibility-statement?locale=en-us">Accessibility statement</a>
                </li>
            </ul>
        </div>
        <div class="logo-and-copyright">
            <div class="logo-container" data-testid="logo-container">
                   
            </div>

        </div>
    </div>
</footer>