.course{
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content{
  padding-top : 8vw;
  display : flex;
  justify-content: space-around;
  gap : 5vw;
  background-color: rgb(249, 243, 252);
  padding-bottom: 8vw;
}
img{
  height : 20vw;
  width : 30vw;
  padding-top : 6vw;
}

.video{
  display : flex;
  justify-content: space-around;
  padding : 3vw;

}

h2{
  font-size: 4vw;
  font-weight: 700;
}

p{
  font-size: 1.5vw;
  color : black;
  padding-top : 2vw;
}

button{
  background-color: blueviolet;
  color : white;
  border-radius: 0.5vw;
  font-size: 1.5vw;
  padding-left : 2vw;
  padding-right : 2vw;
  padding-top : 1vw;
  padding-bottom: 1vw;
  border : none;
  margin-top: 2vw;
}

.nav{
  display : flex;
  gap : 2vw;
  padding-left : 9vw;
}