<div *ngIf="course">
    <div class="content">
        <div class="text">
            <h2>{{ course.title }}</h2>
            <p>Instructor: <span style = "color : purple; font-weight: 700;">{{ course.instructorName }}</span></p>
            <p>{{course.video1}}</p>
            <button (click)="enroll()">Enroll Now</button>
        </div>
        <a href="https://www.youtube.com/watch?v=mAtkPQO1FcA" target="_blank"> <img src="{{course.image}}" alt=""></a>   
    </div>
    
    <div class="nav">
        <p><span style = "color : purple">Contents</span></p>
        <p>About</p>
    </div>
    <div class="video">
        <video width="320" height="240" controls>
            <source src="{{course.video2}}" type="video/mp4">
        </video>
        <video width="320" height="240" controls>
            <source src="{{course.video3}}" type="video/mp4">
        </video>
    </div>
    
</div>
