
<div class="box">
    <div class="text-box">
        <h1>Learn without limits</h1>
        <h3>Start, switch, or advance your career with 
            more than 1,800 courses,Professional Certificates, and degrees<br>
            from world-class universities and companies.</h3>
            <button (click)="register()">Join For Free</button>
    </div>
    <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://images.ctfassets.net/wp1lcwdav1p1/6xXERT0XZPJDXgjPzr8Bve/d858e0cda1a5e5df2cb8accd65d5c1b7/outcomes.png?auto=format%2Ccompress&dpr=2&w=606&h=553&q=40" alt="">
</div>

<app-footer></app-footer>

